
body {
	margin: 0;
	padding: 0px;
	font-size: 10pt;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: #444;
	font-size: 10pt;	
}

#header {
	padding: 8px;
	background: #c44700;
	background: -moz-linear-gradient(top, #F17432 0%, #BC4B05 54%, #BC4B05 96%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F17432), color-stop(54%,#BC4B05), color-stop(96%,#BC4B05)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F17432', endColorstr='#BC4B05',GradientType=0 ); /* ie */
	border-bottom: 2px solid #7b2d00;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 16pt;
	color: #ffb77f;
	text-shadow: #7b2d00 0px 2px 0px;
	font-family: Arial, Helvetica;
}

#header .version {
	position: absolute;
	top: 12px;
	right: 15px;
	font-weight: bold;
	color: #7b2d00;
	color: #7b2d00;
	text-shadow: #ffb77f 0px 1px 0px;	
}

#footer {
	display: none;
	text-align: center;
	clear: both;
}

#ircLogSearchContainer {
	padding: 8px;
}

#ircLogSearchFormContainer {
	margin-top: 5px;
	margin-bottom: 30px;
	clear: both;	
 	margin-left: auto;
  	margin-right: auto;
	width: 660px;
}

#ircLogSearchForm {	
	margin: 0;
	padding: 10px;
	float: left;	
	border: 1px solid #ddd;	
	-border-radius: 8pt;	
	-moz-border-radius: 8pt;
	-webkit-border-radius: 8pt;
	-khtml-border-radius: 8pt;
	background-color: #f9f9f9;
}

#ircLogSearchForm select {
	float: left;	
	margin-right: 15px;	
	margin-top: 5px;	
}

#ircLogSearchForm label {	
	float: left;
	font-weight: bold;
	background: transparent;
	z-index: 0;
	color: #666;
	margin-right: 5px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: #444;
	font-size: 8pt;
	font-weight: bold;
	margin-top: 6px;
}

#ircLogSearchForm button  {
	float: left;
	margin: 0;
	color: #444;
	position: relative;
	left: -1px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;	
	font-size: 12px;
	font-weight: bold;
	text-shadow: #fff 0px 1px 0px;
	-border-top-right-radius: .5em;				
	-moz-border-radius-topright: .5em;
	-webkit-border-top-right-radius: .5em;	
	-border-bottom-right-radius: .5em;				
	-moz-border-radius-bottomright: .5em;
	-webkit-border-bottom-right-radius: .5em;		
	border-width: 1px;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');	
	dheight: 26px;
	padding: 5px;	
	dtop: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

#ircLogSearchForm button:hover {
	text-decoration: none;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	box-shadow: 0 0px 0px rgba(0,0,0,.2);	
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');	
}

#ircLogSearchForm button:active {
	position: relative;
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* Webkit specific rendering tweak (for Safari and Chrome) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#ircLogSearchForm button {
		top: 2px;
	}	
}

#ircLogSearchForm input {
	float: left;
	width: 150px;
	color: #666;
	font-size: 10pt;
	border: 1px solid #ccc;
	background: #fff;
	background: -moz-linear-gradient(top, #eeeeee 0%, #FFFFFF 32%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(32%,#FFFFFF)); /* webkit */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
	-border-top-left-radius: .5em;				
	-moz-border-radius-topleft: .5em;
	-webkit-border-top-left-radius: .5em;	
	-border-bottom-left-radius: .5em;				
	-moz-border-radius-bottomleft: .5em;
	-webkit-border-bottom-left-radius: .5em;	
	position: relative;
	outline-width: thin;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 6px;
	dmax-height: 20px;	
}

/* Gecko specific rendering tweak */
@-moz-document url-prefix() {
	#ircLogSearchForm input {	
		padding-top: 6px;
	}
}

#ircLogSearchResults {
	display: none;
	clear: left;
	position: relative;
	padding-top: 10px;
}

#ircLogSearchResultsConversations {
	font-size: 9pt;
	position: relative;
	display: block;
	width: 240px;
	height: auto;
	float: left;
	border: 1px solid #ddd;	
	background-color: #fff;
	-border-top-left-radius: 12px;
	-border-bottom-left-radius: 12px;				
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomleft: 12px;	
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;	
	padding-bottom: 20px;	
	background: #f9f9f9;
	font-size: 8pt;
}

#uniform-ircServer,
#uniform-ircChannel {
	cursor: default;
	text-align: left;
	z-index: 1;
	position: relative;
	top: 6px;
	padding-top: 12px;
	display: inherit;
	padding-right: 190px;
}

#uniform-ircServer span,
#uniform-ircChannel span {
	position: absolute;
	top: 0px;
	left: 10px;
}

#ircLogSearchResultsConversations .heading {
	font-size: 11pt;
	text-shadow: #fff 0px 1px 0;
	color: #777;	
	padding: 6px;
	text-align: center;	
	-border-top-left-radius: 12px;				
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	background: #ddd; 
	background: -moz-linear-gradient(top, #F2F2F2 0%, #D6D6D6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#D6D6D6)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#D6D6D6',GradientType=0 ); /* ie */
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: #444;
	font-size: 9pt;
	font-weight: bold;
}

#ircLogSearchResultsConversations .conversation, 
#ircLogSearchResultsConversations .conversationSelected {
	position: relative;
	color: #777;
	padding: 8px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	background: #f9f9f9; 	
}


#ircLogSearchResultsConversations .conversation:hover {
	cursor: pointer;
	color: #555;	
	background: #fff;	
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie */	
}

#ircLogSearchResultsConversations .conversation:hover .ircConversationLabel {
	color: #888;
	
}

#ircLogSearchResultsConversationsWrapper {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;	
	background: #f9f9f9;	
}

#ircLogSearchResultsConversationsWrapper .loadingConversationsPlaceholder {
	position: absolute; 
	width: 100%;
	text-align: center;
	font-weight: bold;
	top: 50%;
}

#ircLogSearchResultsConversations .conversation .selectedArrow {
	display: none;
}

#ircLogSearchResultsConversations .conversationSelected .selectedArrow {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 14pt;
	color: #ffb77f;
	text-shadow: #BC4B05 1px 1px 0px;	
	font-weight: bold;
}

#ircLogSearchResultsConversations .conversationSelected,
#ircLogSearchResultsConversations .conversationSelected:hover {
	border-top: 1px solid #ffb28a;
	border-bottom: 1px solid #BC4B05;		
	background: #c44700;
	background: -moz-linear-gradient(top, #f17432 0%, #BC4B05 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f17432), color-stop(100%,#BC4B05)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17432', endColorstr='#BC4B05',GradientType=0 ); /* ie */
	color: #ffdecb;
}

#ircLogSearchResultsConversations .conversationSelected .ircConversationLabel,
#ircLogSearchResultsConversations .conversationSelected:hover .ircConversationLabel {
	color: #ffb77f;
}

.ircConversationLabel {
	float: left;
	width: 60px;
	text-align: right;
	padding-right: 5px;
	clear: left;
}

.ircConversationValues {
	padding-left: 65px;
}

#ircLogSearchResultsLogView {
	position: relative;
	display: block;
	left: 4px;
	margin-right: 5px;
	margin-left: 0px;
	padding-bottom: 10px;
	overflow: auto;
	-border-top-right-radius: 12px;
	-border-bottom-right-radius: 12px;				
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;	
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;	
	background: #f9f9f9;
	border: 1px solid #ddd;	
}

#ircLogSearchResultsLogView .heading {
	text-shadow: #fff 0px 1px 0;
	font-size: 11pt;
	color: #777;
	padding: 6px;
	text-align: center;	
	-border-top-right-radius: 12px;				
	-moz-border-radius-topright: 12px;	
	-webkit-border-top-right-radius: 12px;	
	border-bottom: 1px solid #ddd;		
	background: #ddd; 
	background: -moz-linear-gradient(top, #F2F2F2 0%, #D6D6D6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#D6D6D6)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#D6D6D6',GradientType=0 ); /* ie */	
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: #444;
	font-size: 9pt;
	font-weight: bold;	
}

#ircLogSearchResultsLogView div.oddRow,
#ircLogSearchResultsLogView div.evenRow {
	font-family: Monaco, Courier, monospace;
	width: auto;
	border-bottom: 1px solid #444;	
	color: #fff;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;	
	overflow: auto;
	font-size: 8pt;
}

#ircLogSearchResultsLogView div.evenRow {
	background: #1a1a1a;
}

#ircLogSearchResultsLogView div.oddRow div,
#ircLogSearchResultsLogView div.evenRow div {
	display: inline;
	float: left;
}

#ircLogSearchResultsLogView .keyword {
	background: #ffb500;
	color: #996302;
	font-weight: bold;
}

#ircLogSearchResultsLogView .time {
	display: block;
	width: 50pt;
	color: #888;
}

#ircLogSearchResultsLogView .user {
	display: block;
	width: 110px;
	padding-right: 10px;
	overflow: hidden;
	font-weight: bold;
	text-align: right;
	color: #aaa;	
}

#ircLogSearchResultsLogView .systemMsg {
	color: #888;
	font-style: italic;
}

.ircConversationLabel {
	font-weight: bold;
	color: #aaa;
}

.ircConversationParticipant {
	display: inline;
    padding-left: 2px;
    padding-right: 2px;  
	color: #C84B17 ;
	font-weight: bold;
	font-size: 8pt;
}

.ircConversationKeyword {
	display: inline;
    padding-left: 2px;
    padding-right: 2px;  
	color: #59912B;
	font-weight: bold;
	font-size: 8pt;	
}

#ircLogSearchResultsConversations .conversationSelected .ircConversationParticipant,
#ircLogSearchResultsConversations .conversationSelected .ircConversationKeyword {
	color: white;
}

#ircLogSearchResultsLogViewWrapper {
	overflow: auto;
	margin-bottom: 9px;
	border-bottom: 1px solid #ddd;	
	border-top: 1px solid #ddd;	
	background: #000;	
}